
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 @font-face {
   font-family: 'Geist Mono';
   src: url('/fonts/Geist-UltraBlack.ttf') format('truetype');
   font-weight: bold;
 }
 
 body {
   font-family: 'Geist Sans', 'Geist Mono';
 }
 
 @keyframes reduceMoveTopLeft {
   0% {
     transform: translate(-50%, -50%) scale(1); /* Starting from the center of the screen */
     top: 10%;
     left: 50%;
   }
   100% {
     transform: translate(-50%, -50%) scale(0.5); /* Move to the top left and reduce size */
     top: 1%;
     left: 20%;
   }
 }
 
 .animate__animated {
   --animate-duration: 2.5s;
   padding-top: 50%;
 }
 
 .animate-reduce-move-top-left {
   position: absolute; /* Position absolute to use top and left properties */
   animation: reduceMoveTopLeft 2.5s ease-in-out forwards;
 }
